@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

hr {
  height: 1px;
  background: rgb(234, 248, 248);
  width: 12rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Courier New";
}

body {
  height: 100vh;
  margin: 0 auto;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

.stackGridCols {
  @media (max-width: 360px) {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

.contactButton {
  background-color: gray !important;
}