@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

hr {
  height: 1px;
  background: rgb(234, 248, 248);
  width: 12rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Courier New";
}

body {
  height: 100vh;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

.stackGridCols {
  @media (max-width: 360px) {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

.contactButton {
  background-color: gray !important;
}

.clipboardMessage {
  position: absolute;
  right: 0;
  z-index: 99;
}

.avatarMe img {
  height: fit-content;
  width: fit-content;

  @media (max-width: 500px) {
    height: 14rem !important;
    width: 14rem !important;
  }
}

.avatarMe {
  backdrop-filter: blur(10px);

  @media (max-width: 500px) {
    flex-direction: column !important;
  }
}

.avatarMeHeader {
  backdrop-filter: blur(5px);
}

.avatarMeHeader img {
  height: 4.5rem !important;
  width: 4.5rem !important;
}

::-moz-selection {
  color: black;
  background: #9f580a;
}

::selection {
  color: black;
  background: #9f580a;
}

@keyframes moveIconForward {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
}

@keyframes moveIconBackward {
  0% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.animationIcon:hover .animateIcon {
  animation-name: moveIconForward;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.animationIcon:not(:hover) .animateIcon {
  animation-name: moveIconBackward;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.timeLine {
  margin: 0 auto;
  width: 93% !important;
}

.hiddeDynamic,
.hiddeStatic {
  display: none !important;
}